{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %} profile {% endblock title %}
{% block body %}
    {% for message in messages %}
        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
            <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
            </symbol>
        </svg>
        <div class="alert {{message.tags}} d-flex align-items-center alert-dismissible " role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
            <div>
                {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    {% endfor %}
    
    <div class="container mt-5 offset-2">
        <div class="row">
            <div class="col-sm-10">
                <strong>{{user.username|upper}}</strong>&ensp; your profile <hr>
                {% if user.user_profile %}
                    <div class="container mt-3">           
                        <img src="/media/{{user.user_profile.profile_pic}}" class="img-thumbnail"  width="200px" height="100px"> 
                    </div>
                    <a class="btn btn-info m-2" href=" {% url 'App_Login:change_profile_pic' %} " role="button">change profile picture</a>
                {% else %}
                    <div class="container mt-3">           
                        <img src="/media/profile_pics/avatar.png" class="img-thumbnail" alt="Cinque Terre" width="204" height="136"> <br>
                        <a class="btn btn-info mt-1" href=" {% url 'App_Login:add_profile_pic' %} " role="button">change profile picture</a>
                    </div>
                {% endif %}
                <hr>
                User Name : {{user.username}} <br>
                Full Name : {{user.first_name}} {{user.last_name}} <br>
                Email : {{user.email}} <hr>
                <a class="btn btn-primary" href=" {% url 'App_Login:update_profile' %} " role="button">Update Profile</a> <a class="btn btn-primary" href=" {% url 'App_Login:change_passowrd' %} " role="button">Change Password</a>

            </div>
            <div class="col-sm-10">
                <form action="" method="POST">
                    {% csrf_token %}
                    {{form|crispy}}
                </form>
            </div>
        </div>
    </div>
{% endblock body %}

